Django==3.1.0
#install env
echo $PASSWORD | sudo -S yum -y update
echo $PASSWORD | sudo -S yum -y install yum-utils
echo $PASSWORD | sudo -S yum -y groupinstall development
echo $PASSWORD | sudo -S yum -y install https://centos7.iuscommunity.org/ius-release.rpm
echo $PASSWORD | sudo -S yum -y install python36
echo $PASSWORD | sudo -S yum -y install python36u-pip
echo $PASSWORD | sudo -S yum -y install python36-devel
echo $PASSWORD | sudo -S yum -y install git
echo $PASSWORD | sudo -S yum-config-manager --enable rhui-REGION-rhel-server-extras rhui-REGION-rhel-server-optional

echo $PASSWORD | sudo -S yum -y install epel-release
echo $PASSWORD | sudo -S yum -y update


mkdir /home/kusaches/monitoring
cd /home/kusaches/monitoring
git clone https://github.com/Lureterio1922/Monitoring
echo $PASSWORD | sudo -S pip3.6 install -r /home/kusaches/monitoring/Monitoring/requirements.txt

cd /home/kusaches/monitoring/Monitoring/
python3.6 manage.py makemigrations
python3.6 manage.py migrate
python3.6 manage.py collectstatic


#disable firewall
echo $PASSWORD | sudo -S systemctl stop firewalld
echo $PASSWORD | sudo -S systemctl disable firewalld