<!doctype html>
<html>

<head>
  <meta charset="utf-8" content="width=device-width, initial-scale=1">
  <title> Ваши сервера </title>
   <style>

  </style>

  <link rel="icon" href="/static/images/icon.svg">
  <!--  <link rel="stylesheet" href="/static/js/preload.css"><script> setTimeout(function() {document.body.classList.add('loaded');}, 600)</script>-->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlyHzmksm8PlMbK1QnfvU9oRLliSmFXEw&callback=initAutocomplete&libraries=places&v=weekly"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">

  <script type="text/javascript" src="/static/js/libs/markerclusterer.js"></script>
  <script type="text/javascript" >
    var BASE_URL = "{{BASE_URL}}"
  </script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/speed_test.js"></script>

  <script>
    google.maps.event.addDomListener(window, 'load', speedTest.init);
  </script>
</head>

<body>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <main>
  <div id="panel">
    <div id="resize-horizontal"></div>
    <h3>Карта активности серверов</h3>

    <div>
      <input type="checkbox" id="usegmm" />
      <span>Использовать кластеризацию маркеров<br></span>
      <span>Время отклика: <span id="timetaken"></span> ms</span>
    </div>

    <strong>Company Servers Status</strong>
    <table class="mytable" id="table-sortable">
      <thead>
        <tr>
          <th anim="ripple" class="ripple light cell_1" style="text-align: center;">Status</th>
          <th anim="ripple" class="ripple light cell_2">Name  <i class="btn-hide-column fa fa-eye-slash"></i></th>
          <th class="ripple light cell_3">IP:Port <i class="btn-hide-column fa fa-eye-slash"></i></th>
        </tr>
      </thead>
      <tbody id="markerlist">
        <!-- Content from speed_test.js -->
      </tbody>
    </table>
  </div>

  <div id="map-container">
    <input id="pac-input" class="controls" type="text" placeholder="Введите запрос или адрес">
    <div id="map"></div>
    <div id="legend" class="hidden"><h4>Состояние</h4></div>
    <div id="resize-vertical"></div>
  </div>
  </main>


  <a href="#" class="modal__trigger" data-modal="modal-name">Modal open!</a> <!-- Trigger Modal. -->

  <!-- Modal -->
  <div class="hidden modal" id="modal-name">
    <div class="modal__sandbox"></div>
    <div class="modal__box">
      <div class="modal__header">
      <div> <!--Column 1-->
        <button class="modal__close">&#10006;</button>

      </div>
      <!--Column 2-->

  </div><!--Header-->



    </dl>
      </div> <!-- Body -->
    </div> <!-- Body -->
  </div> <!-- Modal -->
  <script type="text/javascript" src="/static/js/libs/resize-map.js"></script>
  <script type="text/javascript" src="/static/js/libs/sorted-table.js"></script>
  <script type="text/javascript" src="/static/js/libs/hide-columns.js"></script>
  <script type="text/javascript" src="/static/js/libs/resize-columns.js"></script>
  <script type="text/javascript" src="/static/js/libs/ripples.js"></script>


</body>
</html>